In [1]:
import pandas as pd
import sqlite3

pd.set_option('display.max_rows', 200)

In [2]:
# run transform_and_create_table.ipynb

In [3]:
conn = sqlite3.connect('teste_ailos.db')

base_originacao = pd.read_sql_query("SELECT * FROM base_originacao", conn)
base_carteira = pd.read_sql_query("SELECT * FROM base_carteira", conn)

In [4]:
%reload_ext sql
%sql sqlite:///teste_ailos.db

In [5]:
base_originacao.head()

,index,COOPERATIVA,CPF,CONTA,CONTRATO,DSPRODUTO,DTCONTRATO,VLCONTRATO,VLPARCELA,QTPARCELAS
0,0,A,32,496314,677366,Financiamento,2021-10-13 00:00:00,4263.6,153.0,36.0
1,1,A,38,624412,644724,Empréstimo,2021-09-01 00:00:00,81.6,10.2,10.0
2,2,A,154,49834,349384,Empréstimo,2020-08-25 00:00:00,9761.4,204.0,72.0
3,3,A,186,398914,444074,Empréstimo,2021-01-08 00:00:00,4314.6,163.2,36.0
4,4,A,430,549582,372569,Empréstimo,2020-10-02 00:00:00,5548.8,183.6,48.0

In [10]:
base_carteira.head()

,index,DTBASE,COOPERATIVA,CPF,CONTA,CONTRATO,DSPRODUTO,DTCONTRATO,VLCONTRATO,SDDEVEDOR,QTDIASATRASO,SDATRASO,VLPROVISAO
0,0,2021-01-31 00:00:00,A,154,49834,349384,Empréstimo,2020-08-25 00:00:00,9761.4,9557.4,0.0,0.0,30.6
1,1,2021-01-31 00:00:00,A,186,398914,444074,Empréstimo,2021-01-08 00:00:00,4314.6,4365.6,0.0,0.0,81.6
2,2,2021-01-31 00:00:00,A,430,549582,372569,Empréstimo,2020-10-02 00:00:00,5548.8,5273.4,0.0,0.0,20.4
3,3,2021-01-31 00:00:00,A,512,217818,223696,Empréstimo,2020-01-31 00:00:00,3111.0,2539.8,0.0,0.0,10.2
4,4,2021-01-31 00:00:00,A,754,546819,435007,Empréstimo,2020-12-23 00:00:00,601.8,601.8,19.0,601.8,10.2

# RESOLUÇÃO DO EXERCÍCIO EM SQL

### Para a Cooperativa A, obtenha a relação dos 100 CPFs com maiores Saldos Devedor para a data referência 30/09/2021, em que os CPFs apresentam algum atraso maior que zero

In [7]:
%%sql
select 
    CPF, round(sum(SDDEVEDOR),2) as sum_saldo_devedor
from 
    base_carteira
where
    SDATRASO > 0 and date(DTBASE) = '2021-09-30'
group by 
    CPF
order by 
    2 desc
limit 100;

 * sqlite:///teste_ailos.db
Done.

[(80770, 58425.6),
 (361339, 51622.2),
 (571514, 44767.8),
 (565660, 40269.6),
 (295820, 23256.0),
 (714760, 18421.2),
 (127329, 17941.8),
 (18167, 16942.2),
 (164078, 16697.4),
 (286984, 16442.4),
 (629355, 16411.8),
 (265230, 15759.0),
 (409432, 14137.2),
 (334457, 14055.6),
 (516242, 13545.6),
 (602613, 13535.4),
 (357533, 13504.8),
 (368730, 13382.4),
 (523043, 13209.0),
 (70921, 12892.8),
 (24951, 12586.8),
 (447246, 11689.2),
 (270466, 11638.2),
 (619680, 11587.2),
 (66129, 11291.4),
 (468526, 11230.2),
 (390336, 10903.8),
 (3258, 10883.4),
 (547373, 10740.6),
 (731476, 10128.6),
 (189967, 9271.8),
 (411877, 9027.0),
 (238420, 8945.4),
 (508975, 8904.6),
 (127050, 8812.8),
 (553144, 8741.4),
 (628933, 8721.0),
 (664431, 8680.2),
 (401430, 8619.0),
 (215128, 8537.4),
 (463997, 8486.4),
 (97177, 8404.8),
 (246335, 8384.4),
 (65216, 8374.2),
 (471229, 8353.8),
 (359468, 8211.0),
 (70536, 8180.4),
 (691888, 8098.8),
 (58421, 8058.0),
 (318254, 8027.4),
 (589647, 8017.2),
 (617402, 7956.0),
 (254144, 7915.2),
 (70844, 7905.0),
 (161733, 7894.8),
 (542451, 7864.2),
 (402432, 7609.2),
 (568991, 7497.0),
 (447152, 7425.6),
 (483742, 7293.0),
 (548028, 7211.4),
 (501376, 7048.2),
 (445774, 7038.0),
 (382028, 7017.6),
 (34456, 7007.4),
 (708077, 6997.2),
 (276668, 6956.4),
 (84278, 6956.4),
 (630613, 6834.0),
 (661460, 6813.6),
 (488251, 6783.0),
 (479827, 6772.8),
 (230392, 6762.6),
 (147054, 6762.6),
 (688487, 6732.0),
 (440627, 6650.4),
 (48831, 6619.8),
 (564902, 6599.4),
 (638235, 6436.2),
 (688041, 6415.8),
 (66914, 6334.2),
 (23812, 6334.2),
 (67395, 6313.8),
 (14174, 6283.2),
 (708822, 6232.2),
 (303335, 6150.6),
 (65912, 6048.6),
 (556769, 5967.0),
 (436015, 5936.4),
 (377016, 5875.2),
 (225845, 5865.0),
 (52443, 5824.2),
 (21876, 5814.0),
 (619968, 5793.6),
 (445794, 5763.0),
 (526249, 5681.4),
 (187368, 5640.6),
 (472663, 5599.8),
 (697832, 5548.8),
 (697074, 5528.4)]

# RESOLUÇÃO DO EXERCÍCIO EM PYTHON

### Para a Cooperativa A, obtenha a relação dos 100 CPFs com maiores Saldos Devedor para a data referência 30/09/2021, em que os CPFs apresentam algum atraso maior que zero

In [8]:
top_100_sddevedor = base_carteira[(base_carteira.DTBASE == '2021-09-30 00:00:00') & (base_carteira.SDATRASO > 0)].groupby('CPF')['SDDEVEDOR'].sum()

top_100_sddevedor.sort_values(ascending=False)[:100]

CPF
80770     58425.6
361339    51622.2
571514    44767.8
565660    40269.6
295820    23256.0
714760    18421.2
127329    17941.8
18167     16942.2
164078    16697.4
286984    16442.4
629355    16411.8
265230    15759.0
409432    14137.2
334457    14055.6
516242    13545.6
602613    13535.4
357533    13504.8
368730    13382.4
523043    13209.0
70921     12892.8
24951     12586.8
447246    11689.2
270466    11638.2
619680    11587.2
66129     11291.4
468526    11230.2
390336    10903.8
3258      10883.4
547373    10740.6
731476    10128.6
189967     9271.8
411877     9027.0
238420     8945.4
508975     8904.6
127050     8812.8
553144     8741.4
628933     8721.0
664431     8680.2
401430     8619.0
215128     8537.4
463997     8486.4
97177      8404.8
246335     8384.4
65216      8374.2
471229     8353.8
359468     8211.0
70536      8180.4
691888     8098.8
58421      8058.0
318254     8027.4
589647     8017.2
617402     7956.0
254144     7915.2
70844      7905.0
161733     7894.8
542451     7864.2
402432     7609.2
568991     7497.0
447152     7425.6
483742     7293.0
548028     7211.4
501376     7048.2
445774     7038.0
382028     7017.6
34456      7007.4
708077     6997.2
84278      6956.4
276668     6956.4
630613     6834.0
661460     6813.6
488251     6783.0
479827     6772.8
147054     6762.6
230392     6762.6
688487     6732.0
440627     6650.4
48831      6619.8
564902     6599.4
638235     6436.2
688041     6415.8
66914      6334.2
23812      6334.2
67395      6313.8
14174      6283.2
708822     6232.2
303335     6150.6
65912      6048.6
556769     5967.0
436015     5936.4
377016     5875.2
225845     5865.0
52443      5824.2
21876      5814.0
619968     5793.6
445794     5763.0
526249     5681.4
187368     5640.6
472663     5599.8
697832     5548.8
697074     5528.4
Name: SDDEVEDOR, dtype: float64