In [54]:
import pandas as pd
import numpy as np
import sqlite3

In [55]:
%run ./transform_and_create_tables.ipynb

<class 'str'>

/tmp/ipykernel_76847/3054090517.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_originacao.VLCONTRATO = base_originacao.VLCONTRATO.str.replace('.', '').str.replace(',', '.').apply(lambda x: float(x))
/tmp/ipykernel_76847/3054090517.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_originacao.VLPARCELA = base_originacao.VLPARCELA.str.replace('.', '').str.replace(',', '.').apply(lambda x: float(x))
/tmp/ipykernel_76847/3054090517.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_carteira.VLCONTRATO = base_carteira.VLCONTRATO.str.replace('.', '').str.replace(',', '.').apply(lambda x: float(x))
/tmp/ipykernel_76847/3054090517.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_carteira.SDDEVEDOR = base_carteira.SDDEVEDOR.str.replace('.', '').str.replace(',', '.').apply(lambda x: float(x))
/tmp/ipykernel_76847/3054090517.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_carteira.SDATRASO = base_carteira.SDATRASO.str.replace('.', '').str.replace(',', '.').apply(lambda x: float(x))
/tmp/ipykernel_76847/3054090517.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_carteira.VLPROVISAO = base_carteira.VLPROVISAO.str.replace('.', '').str.replace(',', '.').apply(lambda x: float(x))

contém 0 registros duplicados na base_carteira!
contém 0 registros duplicados na base_originacao!

In [56]:
conn = sqlite3.connect('teste_ailos.db')

base_originacao = pd.read_sql_query("SELECT * FROM base_originacao", conn)
base_carteira = pd.read_sql_query("SELECT * FROM base_carteira", conn)

In [57]:
%reload_ext sql
%sql sqlite:///teste_ailos.db

# RESOLUÇÃO DO EXERCÍCIO 06
Com base nos dois arquivos disponibilizados (base_origincacao.csv e base_carteira.csv), crie um sumário executivo da cooperativa B, podendo fazer uso dos resultados obtidos nos exercícios anteriores.

In [58]:
coop_B_carteira = base_carteira[base_carteira.COOPERATIVA == 'B'].reset_index(drop=True)
coop_B_originacao = base_originacao[base_originacao.COOPERATIVA == 'B'].reset_index(drop=True)

In [59]:
coop_B_originacao.head()

,index,COOPERATIVA,CPF,CONTA,CONTRATO,DSPRODUTO,DTCONTRATO,VLCONTRATO,VLPARCELA,QTPARCELAS
0,6093,B,6169,80094,84353,Empréstimo,2020-09-09 00:00:00,1060.8,51.0,24.0
1,6094,B,7067,62338,86922,Empréstimo,2020-11-19 00:00:00,1275.0,102.0,15.0
2,6095,B,10408,85017,107399,Empréstimo,2021-12-20 00:00:00,642.6,30.6,48.0
3,6096,B,18167,75174,79627,Empréstimo,2020-04-29 00:00:00,20338.8,652.8,48.0
4,6097,B,19933,35678,77666,Empréstimo,2020-01-23 00:00:00,1907.4,102.0,24.0

In [60]:
coop_B_carteira.to_csv('~/teste_ailos/avaliacao_dados/base_files/coop_B_carteira.csv', index=False)
coop_B_originacao.to_csv('~/teste_ailos/avaliacao_dados/base_files/coop_B_originacao.csv', index=False)

In [61]:
max_dates = coop_B_carteira.groupby('CONTRATO')['DTBASE'].max()

In [62]:
max_dates.to_csv('~/teste_ailos/avaliacao_dados/base_files/max_dates.csv', index=True)

# Link para o Sumário Executivo

https://datastudio.google.com/reporting/60115756-593b-4c76-ad60-483b6dc8ad08